<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Create A Post')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <form th:action="@{'/posts/create'}" method="post" th:object="${post}">
        <label for="title">Title:</label>
        <input id="title" type="text" th:field="*{title}"/>
        <label for="body">Body:</label>
        <textarea id="body" th:field="*{body}"></textarea>
        <input type="hidden" th:field="*{author}"/>
        <input class="button button-outline" type="submit" value="Create Post"/>
    </form>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>