<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Post')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container">

    <div class="row">
        <div class="column"><h2 th:text="${post.getTitle()}"></h2></div>
    </div>
    <div class="row">
        <div class="column"><em><h6 th:text="'Authored by ' + ${post.getAuthor().getUsername()}"></h6></em></div>
    </div>
    <hr/>
    <div class="row">
        <div class="column">
            <blockquote>
                <p th:text="${post.getBody()}"></p>
            </blockquote>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="column">
            <a th:href="@{'/posts/' + ${post.getId()} + '/edit'}" class="button button-outline">Edit Post</a>
            <form th:action="@{'/posts/' + ${post.getId()} + '/delete'}" method="post" th:object="${post}">
                <input class="button button-outline" type="submit" value="Delete Post"/>
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>