<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Sign Up')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <h1>Create An Account</h1>
    <form th:action="@{/sign-up}" method="post" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}"/>
        <label for="email">Email</label>
        <input id="email" type="email" th:field="*{email}"/>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>
        <input class="button" type="submit" value="Sign Up!"/>
    </form>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>