<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Guess!')"/>
<body>
<nav th:replace="partials :: navbar"/>

<div class="container">
    <form id="guess-form" action="/roll-dice" method="get">
        <label for="guess-num">Pick A Number Between 1 And 6!</label>
        <input id="guess-num" type="number" min="1" max="6" value="1"/>
        <input class="button button-outline" type="submit" value="Guess!"/>
    </form>
</div>

<script th:replace="partials :: jquery"/>
<script>
    {
        $('#guess-form').on('submit', () => {
            $('#guess-form').attr('action', '/roll-dice/' + $('#guess-num').val());
        });
    }
</script>
</body>
</html>