<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body>

<nav id="navbar" th:fragment="navbar">
    <ul>
        <li>
            <a href="/posts">View</a>
        </li>
        <li>
            <a href="/posts/create">Create</a>
        </li>
        <li>
            <form th:action="@{/logout}">
                <button class="button button-clear">Logout</button>
            </form>
        </li>
    </ul>
</nav>

<footer th:fragment="footer">
    <p><em th:text="'Tristan Crawford, 2018'"></em></p>
</footer>
</body>
</html>